API_ID=23560025
API_HASH=57af432f144a0b81d1bbc360f1196763
BOT_TOKEN=7684739810:AAG9p4WZU4-u1s9-JXzU3l9Hig7yCjSb2Yo
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1002781150474
OWNER_ID=7487670897
STRING_SESSION=BQFnf1kAJ4VgJ5dKHE3ib_ZQlZVbJ0xz2zU5rnge31hkTU7kaC8fki6oZT5u9ejpEd9Pq4W9CoqtmFW3E700j2NKfU0un1yWAuiumZnMxAL_bsby45jUHAuLmark41-IsXHuGk_akKkxAr9h4z0-LrHZtrdRHphDvvXHefamSLxuQ8xihQtc2u2VZlnzgMeOGhIaKqtxRTFdBkr32cp-hIg1h5gYfv73q_nZIg4xcNbRzBn61PU_M7i0sTQxviRJRvF6k1ss9Bnuaxh1iuaGPxDByPjwL7jMcES9h_RqmQt8tmHDZHOx0DuCDqDqf2SQtA0dsfEIqemzjexNJbU6O5dJhiJOfgAAAAGTlQcoAA
OPENAI_API_KEY = "your-openai-key-here"