API_ID=22565342
API_HASH=75e035926f72f2f4155a6f5f6e64be03
BOT_TOKEN=7395654013:AAEgP3NjDSe_2UibWxESb2qsxnMpIU1EHJ8
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1002881119599
OWNER_ID=7926944005
STRING_SESSION=BQFYUd4AikwTNq752mF7RgNbojn4FRkSg8lnynWCrLu_RqP8J4TFLrGeuSPhFDmnkdEzSuxhqMIg-O3V6KY219yl9t98jC5QcgQjkHBUwzywI8v8fgQdz3WA6SZy5KiuD4svlkEZ7vMCtyYquOO6ZTs4cz-Peg0-sz4E3ds-EXjHMH0ZPMiVskfv5pjZWW5LYxPmxwLd_1CDpOC6cLFBF2EAmQA_rTDf7SdHzop4V3Jkj8rKI_EHSOnxxOAxoN0OZV7S2k3xGBypUkgaWAdTkmuAagEWoawU3D3ZvsztwSCHlCZwGouvhnfr6E8iQGwdtFDz4iFqVsPvWmdoYBBj0-UufiExPQAAAAHQda6jAA
OPENAI_API_KEY="your-openai-key-here"
SUDO_USERS=7487670897
